<div class="container">
  <div class="mt-4">
    <h4 class="offset-1"><span style="background-color: beige">注文情報入力</span></h4>

    
      <h5>支払方法</h5>

      <h5>お届け先</h5>
        <div class="ml-5">
          <%= f.radio_button :address_option, 0, checked: "checked" %>
          <%= f.label :address_option, "ご自身の住所", :value => 0 %>
          <div class="ml-4 mb-2">
            〒<%= current_customer.postal_code %>
            <%= current_customer.address %><br>
            <%= current_customer.full_name %>
          </div>
          <% if current_customer.shipping_addresses.present? %>
            <%= f.radio_button :address_option, 1 %>
            <%= f.label :address_option, "登録済住所から選択", :value => 1 %>
            <div class="ml-4 mb-2">
              <%= f.select :address_id, options_from_collection_for_select(current_customer.shipping_addresses.all, :id, :address_display) %>
            </div>
          <% end %>
          <%= f.radio_button :address_option, 2 %>
          <%= f.label :address_option, "新しいお届け先", :value => 2 %>
          <div class="ml-4 mb-2">
            <div class="form-group row">
              <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
              <%= f.text_field :postal_code %><br>
            </div>
            <div class="form-group row">
              <%= f.label :address, "住所" %>
              <%= f.text_field :address %><br>
            </div>
            <div class="form-group row">
              <%= f.label :name, "宛名" %>
              <%= f.text_field :name %>
            </div>
          </div>
        </div>
      <div class="text-center">
        <%= f.submit '確認画面へ進む', class: "btn btn-outline-primary" %>
      </div>
      
  </div>
</div>